name: Build examples

on:
  workflow_call:
  push:
    branches:
      - master
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: '30 3 1-7 * 5' # Run on the first Friday of every month at 3:30 AM UTC
      
jobs:
  build-examples:
    uses: Infineon/arduino-devops/.github/workflows/lib-compile-examples.yml@main